{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "include/patient/sidebar.html" %}

<div class="page-wrapper">
    {% include "include/messages.html" %}
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Test Shop</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'patient_dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Tests</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for test in tests %}
                                <tr>
                                    <td>{{ test.name }}</td>
                                    <td>{{ test.description }}</td>
                                    <td>{{ test.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        
            
        </div>
    </div>
</div>

{% endblock content %}
