{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "include/admin/sidebar.html" %}

<div class="page-wrapper">
    {% include "include/messages.html" %}
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Appointment</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'admin_view_appointment' %}">Appointments</a></li>
                        <li class="breadcrumb-item active">Add Appointment</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" action="{% url 'admin_add_appointment_view' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Appointment Details</span></h5>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" name="description" placeholder="Enter description"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Doctor</label>
                                        <select class="form-control" name="doctorId">
                                            <option value="" selected>Select Doctor</option>
                                            {% for doctor in doctors %}
                                                <option value="{{ doctor.user.id }}">{{ doctor.user.first_name }} {{ doctor.user.last_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Patient</label>
                                        <select class="form-control" name="patientId">
                                            <option value="" selected>Select Patient</option>
                                            {% for patient in patients %}
                                                <option value="{{ patient.user.id }}">{{ patient.user.first_name }} {{ patient.user.last_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Appointment Date</label>
                                        <input type="date" name="appointmentDate" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-success">Book</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
