{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "include/doctor/sidebar.html" %}

<div class="page-wrapper">
    {% include "include/messages.html" %}
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Delete Appointments</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'doctor_dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Delete Appointments</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>Picture</th>
                                        <th>Description</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appointment in appointments %}
                                    <tr>
                                        <td>{{ appointment.patientName }}</td>
                                        <td><img src="{{appointment.patientId.profile_pic.url}}" alt="Profile Pic" height="40px" width="40px" /></td>
                                        <td>{{ appointment.description }}</td>
                                        <td>
                                            <a class="btn btn-danger btn-xs" href="{% url 'delete-appointment' appointment.id %}">
                                                <span class="glyphicon glyphicon-trash"></span> Delete
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
